<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <title>Idle Game Creator</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link href="lib/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <link href='css/igc.css' rel='stylesheet' type='text/css'>

        <script src="app/app.js"></script>

        <!-- Creator Module -->
        <script src='app/creator/creator.js'></script>
        <script src='app/creator/controllers/creator.Ctrl.js'></script>
        <script src='app/creator/controllers/creator.automatics.Ctrl.js'></script>
        <script src='app/creator/controllers/creator.resources.Ctrl.js'></script>
        <script src='app/creator/controllers/creator.upgrades.Ctrl.js'></script>

        <!-- Player Module -->
        <script src='app/player/player.js'></script>
        <script src='app/player/controllers/player.Ctrl.js'></script>
        <script src='app/player/controllers/player.upgrades.Ctrl.js'></script>
        <script src='app/player/controllers/player.stats.Ctrl.js'></script>

        <!-- Directives -->
        <script src="directives/distinctName.js"></script>
        <script src="directives/filters.js"></script>
    </head>
    <body>
        <header>
            <nav class="igc-nav">
                <ul>
                    <li>IGC</li>
                    <li><a ng-if="$state.includes('ig.creator')" ui-sref="ig.player.stats">To Player</a><a ng-if="$state.includes('ig.player')" ui-sref="ig.creator.resources">To Creator</a></li>
                </ul>
            </nav>
        </header>

        <div ui-view></div>

        <footer class='igc-footer'>
            <strong><span class="fa fa-copyright"></span> 2015 attksrfc</strong> State Change Count: {{$state.current.data.test.stateChangeCount}} - State Name: {{$state.current.name}}
        </footer>
    </body>
</html>
