<div class="igc-list">
  <ul>
    <li ng-click="edit($index)" ng-repeat="res in $state.current.data.creator.resources | orderBy: 'name'" class='igc-resource'>
      {{res.name}}  <span class="fa fa-remove" ng-click="remove($index)"></span>
    </li>
  </ul>
</div>

<div class=" igc-form">
  <form data-ng-submit="submit(resourceForm)" name="resourceForm" novalidate>
    <button type="submit">Save</button>
    <div class="form-group" data-ng-class="{ 'has-error' : resourceForm.name.$invalid && resourceForm.$submitted}">
      <div class="form-label">Name</div>
      <input name="name" type="text" class="form-input" required ng-model="resourceInfo.name">
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : resourceForm.desc.$invalid && resourceForm.$submitted}">
      <div class="form-label">Description</div>
      <textarea name="desc" rows="5" class="form-input" required ng-model="resourceInfo.description">
    </div>
  </form>
</div>
