<h3>Player Upgrades</h3>

<div class="igc-column">
  <ul class="igc-list">
    <li class="igc-resource tt-trigger"
        ng-repeat="(id, generator) in $state.current.data.config.generators"
        ng-click="buy( id )">
      <p>{{generator.name}} ({{$state.current.data.generators[id].count}})</p>
      <div class="tt">
        {{$state.current.data.generators[id].costs}}
      </div>
    </li>
  </ul>
</div>
<div class="igc-column">
  <ul class="igc-list">
    <li class="igc-resource tt-trigger"
        ng-repeat="(id, upgrade) in $state.current.data.config.upgrades"
        ng-click="buy_upgrade( id )">
      <p>{{upgrade.name}}</p>
      <div class="tt">
        {{$state.current.data.config.upgrades[id].costs}}
      </div>
    </li>
  </ul>
</div>
